%h5.stock-delivery-date-title
  Delivery Date
#delivery_date
  .field
    = form.label :delivery_date, "Delivery Date"
    = form.text_field :delivery_date, value: (l(@order.delivery_date) rescue l(Date.current))
  .field
    .selected-delivery-time{data: @order.delivery_time}
    = form.label :delivery_time, "Delivery Time"
    = form.select :delivery_time, current_delivery_options_for_date(Date.tomorrow)

  .delivery-time-options{data: SpreeDeliveryOptions::Config.delivery_time_options}

%h5.stock-delivery-instructions-title
  Delivery Instructions/Comments
#delivery_instructions
  .field
    = form.text_area :delivery_instructions
